<div class="container pt-5">


    <div class="text-center text-white pt-4 bg-bleu_transparent_ps">
        <h1 class="pt-2 mb-3 pb-2">Jeux PS+ de Aout 2020</h1>
    </div>

    <div class="container-fluid bg-bleu_transparent_ps">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center bg-primary mb-3 mt-2" style="max-width: 16rem;">
                    <img src="assets/images/image.jpeg" alt="" class="mt-2 mb-2"></div>

                <div class="text-center bg-primary mb-3 mt-2" style="max-width: 16rem;">
                    <img src="assets/images/2000px-PEGI_3.svg_.png" alt="" class="mt-2 mb-2 taille_img_article_id">
                </div>


                <div class="card text-white bg-primary mb-3 mt-2" style="max-width: 16rem;">
                    <div class="card-header">
                        <h4>Détails</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Genre</h5>
                        <p class="card-text">Specifique.</p>

                        <h5 class="card-title">Editeur</h5>
                        <p class="card-text">Devolver Digital</p>

                        <h5 class="card-title">Sortie</h5>
                        <p class="card-text">04 Aout 2020</p>

                        <h5 class="card-title">Taille</h5>
                        <p class="card-text">3.95 GB</p>
                    </div>
                </div>

                <div class="card text-white bg-primary mb-3 mt-2" style="max-width: 16rem;">
                    <div class="card-header">
                        <h4>Evaluation</h4>
                    </div>
                    <div class="card-body text-center">
                        <img src="assets/images/4etoiles.png" alt="" class="mt-1 mb-3">
                    </div>
                </div>
            </div>

            <div class="col-md-9 text-center text-white">

                <h2 class="mt-3 mb-3">
                    Fall Guys: Ultimate Knockout
                </h2>


                {{> article_id/carousel-id }}

                <img src="assets/images/minicarousel.png" alt="" class="lageur_mini_carousel">

                <div class="card text-white bg-primary mb-3 mt-2" style="max-width: 108vh;">
                    <div class="card-header">
                        <h4>Description</h4>
                    </div>
                    <div class="card-body text-center">
                        <p>Fall Guys est un party-game massivement multijoueur réunissant jusqu'à 60 joueurs en
                            ligne. Au programme : un chacun-pour-soi délirant où les participants doivent s'imposer
                            lors d'une série de manches de plus en plus chaotiques qui s'enchaînent à un rythme
                            effréné jusqu'à ce qu'il ne reste plus qu'un seul concurrent !
                        </p>
                        <p>Fall Guys: Ultimate Knockout réunit, pêle-mêle, des hordes de concurrents en ligne, et les
                            précipite sans ménagement dans une compétition maboule composée de rounds de plus
                            en plus anarchiques où les participants sont joyeusement dézingués jusqu'à ce qu'il n'en
                            reste plus qu'un seul ! Surmontez des obstacles bizarroïdes, bousculez des rivaux
                            turbulents et défiez les lois inflexibles de la physique pour vous frayer un chemin jusqu'à
                            la
                            splendeur suprême ! Laissez votre amour propre au vestiaire et préparez-vous à subir des
                            échecs burlesques avant de pouvoir espérer brandir fièrement la couronne !
                        </p>
                        <p>Pandémonium général en ligne : plongez au cœur d'une série de défis complètement
                            ridicules et de parcours d'obstacles gentiment déjantés, où d'innombrables participants en
                            ligne se livrent une lutte acharnée dans l'espoir de se qualifier pour la prochaine manche
                            des hostilités.
                        </p>
                        <p>Compétitif et coopératif : passez, à la volée, d'un chacun-pour-soi explosif à des défis en
                            coop où l'équipe
                            perdante est éliminée sans aucune pitié !</p>
                        <p>Comédie physique : amusez-vous à regarder vos adversaires bondir et rebondir tous azimuts
                            avant de se prendre
                            des gamelles hilarantes sublimées par un moteur physique qui décoiffe !</p>
                        <p>Adorablement personnalisable : se planter, c'est bien, mais se planter en beauté, c'est mieux
                            ! Entre les
                            grenouillères fruitées résolument « ananas » et les couvre-chefs typés lapin, vous n'aurez
                            que
                            l'embarras du choix pour mettre votre alter ego virtuel sur son trente-et-un dans Fall Guys.
                        </p>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>