<!-- Carousel -->
<div class="container mt-2 mb-2">

  <div id="carouselExamplCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">

      <!-- 1er image du carousel -->
      <div class="carousel-item active">
        <img src="assets/images/fallguys1.jpg" class="d-block w-100 taille_img_carousel_id" alt="Responsive image">
      </div>
      <!-- / 1er image du carousel -->

      <!-- 2eme image du carousel -->
      <div class="carousel-item">
        <img src="assets/images/fallguys2.jpg" class="d-block w-100 taille_img_carousel_id"
          alt="Responsive image">
      </div>
      <!-- / 2eme image du carousel -->

      <!-- 3eme image du carousel -->
      <div class="carousel-item">
        <img src="assets/images/fallguys3.jpg" class="d-block w-100 taille_img_carousel_id"
          alt="Responsive image">
      </div>
      <!-- / 3eme image du carousel -->

      <!-- 4eme image du carousel -->
      <div class="carousel-item">
        <img src="assets/images/fallguys4.jpg" class="d-block w-100 taille_img_carousel_id" alt="Responsive image">
      </div>
      <!-- / 4eme image du carousel -->

    </div>
  </div>

</div>
<!-- / Carousel -->