<!-- Carousel ID -->
{{!-- Cadre modification caroussel acceuil--}}
<div class="col-md-8 center-div bg-primary text-white mt-3 px-5">
  <h2 class="mt-2">Images caroussel</h2>
  <div class="col-md-12 border border-white rounded-lg py-2" style="min-height:450px">
    <img id="expandedImg" style="width:90%">
  </div>
  <ul id="ulListeCarousel" class="list-unstyled row d-flex flex-nowrap overflow-auto">
    {{#each carouselArticle }}
    {{#each galleryImg }}
    <li class="col-md-3 py-2"><img src="{{ filename }}" style="width:60%" onclick="myFunction(this);"></li>
    {{/each}}
    {{/each}}
  </ul>
</div>
<!-- / Carousel ID -->

{{!-- Script carousel --}}
<script>

  function myFunction(imgs) {
    var expandImg = document.getElementById("expandedImg");
    expandImg.src = imgs.src;
    expandImg.parentElement.style.display = "block";
  }
</script>
{{!-- / Script carousel --}}