<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--icones -->
  <script src="https://kit.fontawesome.com/86e942c899.js" crossorigin="anonymous"></script>


  <!-- CSS SASS -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- / CSS SASS -->

  <title>Accueil</title>
  <!-- by:
                            __                               
_____ ___________________ _/  |_  ______ ____ _____    ____  
\__  \\_  __ \_  __ \__  \\   __\/  ___// __ \\__  \  /    \ 
 / __ \|  | \/|  | \// __ \|  |  \___ \\  ___/ / __ \|   |  \
(____  /__|   |__|  (____  /__| /____  >\___  >____  /___|  /
     \/                  \/          \/     \/     \/     \/ 
    
 -->

</head>

<body id="myDIV" class="image_de_font_body">