<div class="col-md-5 text-white text-center bg-bleu_transparent_ps border text-decoration-none m-2">
    <h2 class="mt-2">A propos</h2>
    <div class="d-flex justify-content-center"><div class="col-md-8">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p></div></div>
    <p>Me suivre sur :</p>

    <a href="#"><img src="assets/images/img-fac.png" alt="" class="rounded-circle taille_img_contact pt-2 pb-2"></a>
    <h3>Facebook</h3>


    <a href="#"><img src="assets/images/img-twi.png" alt="" class="rounded-circle taille_img_contact pt-2 pb-2"></a>
    <h3>Twitter</h3>

    <a href="#"><img src="assets/images/img-git.png" alt="" class="rounded-circle taille_img_contact pt-2 pb-2"></a>
    <h3>github</h3>

</div>