<div class="container pt-5">
  <div class="text-center text-white bg-bleu_transparent_ps">
    <h1 class="mb-3 pb-2 pt-2">Contact</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center">

      {{> contact/apropos }}

      {{> contact/formulaire }}
      
    </div>
  </div>
</div>