<!-- archive 7-2020 -->
<div class="container text-center">
    <div class="col-md-10 text-white text-center bg-bleu_transparent_ps center-div mb-4">
        <div class="d-flex justify-content-around mt-3 mb-3">
            <div class="col-md-6 text-center mt-1">
                <div class="center-div">
                    <img src="assets/images/psplusaout2020.jpg" alt=""
                            class="img-fluid d-block taille_img_arch">
                </div>
            </div>
            <div class="col-md-6 mt-1 px-4">
                <h1>Aout 2020</h1>
                <p>Jeux du mois d'aout 2020</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary"><a href="#">Call of Duty Modern Warfare 2</a></li>
                    <li class="list-group-item list-group-item-primary"><a href="#">Fall Guys: Ultimate Knockout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- / Archive 7-2020 -->