 <!-- Archive 5-2020 -->
        <div class="col-md-6 bg-gris_ps text-primary text-center border border-bleu_ps ep_bordure">

            <div class="row mt-3 mb-3">
                <div class="col-md-6">
                    <a href="#"><img src="assets/images/jeux-ps-plus-mai-2020.jpg" alt=""
                            class="img-fluid d-block taille_img_arch"></a>
                </div>

                <div class="col-md-6">
                    <h1>Mai 2020</h1>
                    <p>Jeux du mois de mais 2020</p>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-primary"><a href="#">Farming Simulator 19</a></li>
                        <li class="list-group-item list-group-item-primary"><a href="#">Cities : Skyline</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- / Archive 5-2020 -->