<!-- archive 7-2020 -->
<div class="container text-center">
    <div class="col-md-10 text-white text-center bg-bleu_transparent_ps center-div mb-4">
        <div class="d-flex justify-content-around mt-3 mb-3">
            <div class="col-md-6 text-center mt-1">
                <div class="center-div">
                    <a href="#"><img src="assets/images/Jeux-offerts-de-juillet-2020-1068x597.jpg" alt=""
                            class="img-fluid d-block taille_img_arch"></a>
                </div>
            </div>
            <div class="col-md-6 mt-1 px-4">
                <h1>Juillet 2020</h1>
                <p>Jeux du mois de juillet 2020</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary"><a href="#">NBA 2K20</a></li>
                    <li class="list-group-item list-group-item-primary"><a href="#">Rise of the Tombe Raider</a>
                    <li class="list-group-item list-group-item-primary"><a href="#">Erica</a></li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- / Archive 7-2020 -->