{{!-- Image jeux juillet 2020 --}}
<div class="container text-center text-white pt-5 bg-bleu_ps">
    <img src="assets/images/Jeux-offerts-de-juillet-2020-1068x597.jpg" alt="" class="taille_img_arch">
</div>

{{!-- X Image jeux juillet 2020 --}}