<!-- archive 06 2020 -->
<div class="container text-center">
    <div class="col-md-10 text-white text-center bg-bleu_transparent_ps center-div mb-5">
        <div class="d-flex justify-content-around mt-3 mb-3">

            <div class="col-md-6 text-center mt-1">
                <div class="center-div">
                    <a href="#"><img src="assets/images/PS-Plus-Juin-2020.jpg" alt=""
                            class="img-fluid d-block taille_img_arch"></a>
                </div>
            </div>

            <div class="col-md-6 mt-1 px-4">
                <h1>Juin 2020</h1>
                <p>Jeux du mois de juin 2020</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary"><a href="#">Call of Duty WWII</a></li>
                    <li class="list-group-item list-group-item-primary"><a href="#">Star Wars Battlefront II</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- / Archive 06 2020 -->