<!-- Page archives -->
<div class="container text-center text-white pt-5">
    <h1 class="p-5 bg-bleu_transparent_ps">Archives PS+</h1>
</div>

<!-- Cardes archives -->
<div class="container-fluid">
    <div class="row">

        <!-- archive 7-2020 -->
        <div class="col-md-6 bg-gris_ps text-primary text-center border border-bleu_transparent_ps ep_bordure">
            <div class="row mt-3 mb-3">
                <div class="col-md-6">
                    <a href="#"><img src="assets/images/Jeux-offerts-de-juillet-2020-1068x597.jpg" alt=""
                            class="img-fluid d-block taille_img_arch"></a>
                </div>

                <div class="col-md-6">
                    <h1>Juillet 2020</h1>
                    <p>Jeux du mois de juillet 2020</p>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-primary"><a href="#">NBA 2K20</a></li>
                        <li class="list-group-item list-group-item-primary"><a href="#">Rise of the Tombe Raider</a>
                        <li class="list-group-item list-group-item-primary"><a href="#">Erica</a></li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- / Archive 7-2020 -->

        <!-- archive 06 2020 -->
        <div class="col-md-6 bg-gris_ps text-primary text-center border border-bleu_transparent_ps ep_bordure">
            <div class="row mt-3 mb-3">
                <div class="col-md-6">
                    <a href="#"><img src="assets/images/PS-Plus-Juin-2020.jpg" alt=""
                            class="img-fluid d-block taille_img_arch"></a>
                </div>

                <div class="col-md-6">
                    <h1>Juin 2020</h1>
                    <p>Jeux du mois de juin 2020</p>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-primary"><a href="#">Call of Duty WWII</a></li>
                        <li class="list-group-item list-group-item-primary"><a href="#">Star Wars Battlefront II</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- / Archive 06 2020 -->

    </div>
</div>

<!-- Cardes archives -->