<!-- Baniere 1 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 banniere" style="background-image: url(assets/images/playstation.jpg)"></div>
    </div>
</div>
<!-- / Baniere 1 -->