<!-- Page contacts -->
<div class="container text-center text-white pt-5">
    <h1 class="mb-3 pb-3 pt-2 bg-bleu_transparent_ps">Contacts</h1>
</div>

  <div class="container-fluid">
      <div class="row">
          <div class="col-md-3 bg-gris_ps text-primary text-center border border-bleu_transparent_ps ep_bordure">
              <a href="#"><img src="assets/images/img-fac.png" alt="" class="rounded-circle taille_img_contact pt-2 pb-2"></a>
          </div>

          <div class="col-md-3 bg-gris_ps text-primary text-center border border-bleu_transparent_ps ep_bordure">
              <a href="#"><img src="assets/images/img-twi.png" alt="" class="rounded-circle taille_img_contact pt-2 pb-2"></a>
          </div>

          <div class="col-md-3 bg-gris_ps text-primary text-center border border-bleu_transparent_ps ep_bordure">
              <a href="#"><img src="assets/images/img-git.png" alt="" class="rounded-circle taille_img_contact pt-2 pb-2"></a>
          </div>

          <div class="col-md-3 bg-gris_ps text-primary text-center border border-bleu_transparent_ps ep_bordure">
              <a href="#"><img src="assets/images/img-mail.png" alt="" class="rounded-circle taille_img_contact pt-2 pb-2"></a>
          </div>


      </div>
  </div>