<!-- Page contacts -->
<div class="container text-center text-white pt-5 pb-4">
    <a class="nav-link text-decoration-none text-reset" href="/contact">
        <h1 class="mb-3 pb-3 pt-2 bg-bleu_transparent_ps">Contacts</h1>
    </a>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 text-primary text-center">
            <a href="#"><img src="assets/images/img-fac.png" alt=""
                    class="rounded-circle taille_img_contact pt-2 pb-2"></a>
        </div>

        <div class="col-md-3 text-primary text-center">
            <a href="#"><img src="assets/images/img-twi.png" alt=""
                    class="rounded-circle taille_img_contact pt-2 pb-2"></a>
        </div>

        <div class="col-md-3 text-primary text-center">
            <a href="#"><img src="assets/images/img-git.png" alt=""
                    class="rounded-circle taille_img_contact pt-2 pb-2"></a>
        </div>

        <div class="col-md-3 text-primary text-center">
            <a href="#"><img src="assets/images/img-mail.png" alt=""
                    class="rounded-circle taille_img_contact pt-2 pb-2"></a>
        </div>


    </div>
</div>