<div class="alert alert-danger fixed-top text-center" role="alert">
 Veuillez accepter le cookie qui est la uniquement pour valider que je sais gerer les cookies. <a href="/newCookie" class="alert-link">Accept</a> <br>
 Sinon vous serrez bloquer sur la pâge home.
</div>