{{!-- Titre free to play --}}
<div class="container text-center text-white pt-5">
    <a class="nav-link text-decoration-none text-reset" href="/freetoplay">
        <h1 class="pb-3 pt-2 bg-bleu_transparent_ps">Free To Play</h1>
    </a>
</div>
{{!-- X Titre free to play --}}