<!-- Page Acceuil -->
<div class="container pt-5">
  <div class="text-center text-white bg-bleu_transparent_ps">
    <h1 class="mb-3 pb-3 pt-2">Acceuil</h1>
  </div>
</div>
<!-- Carousel -->
<div class="container text-center">

  <div id="carouselExamplCaptions" class="carousel center-div" data-ride="carousel">

    <div class="carousel-inner">

      <!-- 1er image du carousel -->
      <div class="carousel-item active">
        <img src="assets/images/PS4-logo.jpg" class="img-fluid d-block taille_img_carousel" alt="Responsive image">

      </div>
      <!-- / 1er image du carousel -->

      <!-- image du carousel Auto-->
      {{#each dbCarouselAcceuil }}
      {{#each galleryImg }}

      <div class="carousel-item">
        <img src="{{ filename }}" class="img-fluid d-block taille_img_carousel" alt="Responsive image">
      </div>

      {{/each}}
      {{/each}}
      <!-- / image du carousel Auto-->

    </div>
  </div>

</div>
<!-- / Carousel -->