<!-- Texte Free To Play -->
<div class="container bg-bleu_transparent_ps">
    <div class="row text-center text-white m-3 pt-2">
        <h4>Je recense ici les jeux en free to play sans mettre les adaptation portable.</h4>
    </div>
</div>
<!-- / Texte Free To Play -->