<!-- Intro page d'acceuil -->
<div class="container bg-bleu_transparent_ps">
    <div class="row text-center text-white m-3 mb-5">
        <h4 class="mt-2">{{messageAcceuil.mesAcceuil}}</h4>
    </div>
</div>
<!-- / Intro page d'acceuil -->