<!-- Intro page d'acceuil -->
<div class="container bg-bleu_ps">
    <div class="row text-center text-white m-5 m-5">
        <h4>Bienvenue sur mon site fan, j essaye de recence tout le contenue gratuis du playstation network
            et les jeux offert tout les mois au service playstation +.</h4>
    </div>
</div>
<!-- / Intro page d'acceuil -->
<!-- / Page Acceuil -->