<!-- Titre page Jeux du mois -->
<div class="container-fluid pt-5">
<div class="container text-center text-white bg-bleu_transparent_ps">
    <h1 class="pt-2">Jeux du mois PS+</h1>
</div>
<div class="container text-center text-white mb-1 bg-bleu_transparent_ps">
    <h2>Aout 2020</h2>
</div>
</div>
<!-- / Titre page Jeux du mois -->