<!-- Titre page Jeux du mois -->
<div class="container text-center text-white pt-3 bg-bleu_ps">
    <h1 class="p-5">Jeux du mois PS+</h1>
</div>
<div class="container text-center text-white mb-5 bg-bleu_ps">
    <h2>Aout 2020</h2>
</div>
<!-- / Titre page Jeux du mois -->