<!-- Titre page Jeux du mois home -->
<div class="container-fluid pt-5">
    <div class="container text-center text-white bg-bleu_transparent_ps mb-3">
        <a class="nav-link text-decoration-none text-reset" href="/article">
            <h1 class="py-1">Jeux du mois PS+</h1>
        </a>
    </div>
    <div class="container text-center text-white mb-3 bg-bleu_transparent_ps mt-2">
        <h2>Aout 2020</h2>
    </div>
</div>
<!-- / Titre page Jeux du mois home-->