<div class="container pt-5">
    <div class="text-center bg-bleu_transparent_ps">

        <!-- Button modal modifier -->
        <button type="button" class="btn btn-light mb-3 pb-2 pt-2 mt-3" data-toggle="modal" data-target="#modalcookie">
            Cookie
        </button>
    </div>
</div>

<!-- Modal cookie -->
<div class="modal fade" id="modalcookie" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header img_cookie_modal text-white">
                <h4 class="modal-title ml-2" id="staticBackdropLabel">Qui qui veux des cookies?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body text-center">
                Ce site utilise des cookies afin d’améliorer votre expérience et optimiser nos sites et services.

                Un cookie est un petit fichier de texte transféré à partir d’un serveur web vers votre navigateur web ou
                votre
                disque dur lorsque vous visitez un site web. Si votre navigateur web est configuré pour accepter les
                cookies,
                ils seront stockés dans le navigateur web ou le disque dur jusqu’à ce que la date d’expiration soit
                dépassée ou jusqu’à ce que vous supprimez les cookies vous-même.

                Vous trouverez ci-dessous les explications de notre utilisation des cookies sur nos sites Web et la
                raison pour
                laquelle nous les utilisons.
            </div>
            <div class="modal-footer img_cookie_modal">
                <button type="button" class="btn btn-success" data-dismiss="modal">Utiliser uniquement les cookies nécessaires</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Autoriser tout les cookies</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Autoriser la selection</button>
            </div>
        </div>
    </div>
</div>
<!-- / Modal cookie -->