<!-- Carde jeux du mois 08-2020 -->
<div class="container text-center">
    <div class="col-md-12 bg-bleu_transparent_ps center-div">
        <div class="d-flex justify-content-around">

            <div class="border rounded-lg taille_carde_jdm my-5 bg-primary text-white">
                <a href="#"><img src="assets/images/codmw2remastered.jpg" class="border taille_img_jdm mt-5 mb-3 rounded-lg"
                        alt=""></a>
                <img src="assets/images/minicarousel.png" alt="" class="largeur_mini_carousel_jdm">
                <h2 class="mt-3"> Call of Duty Modern Warfare 2</h2>
                <p class="pb-2 px-3">Le jeu culte d'Activision et Infinity Ward a fait son grand retour cette année
                    dans une version remasterisée qui permet de profiter de graphismes améliorés,
                    de temps de chargements plus courts et de nouvelles technologies comme le HDR. </p>
            </div>

            <div class="border rounded-lg taille_carde_jdm my-5 bg-primary text-white">
                <a href="/article_id"><img src="assets/images/cover_large.jpg"
                        class="border taille_img_jdm mt-5 mb-3 rounded-lg" alt=""></a>
                <img src="assets/images/minicarousel.png" alt="" class="largeur_mini_carousel_jdm">
                <h2 class="mt-3">Fall Guys: Ultimate Knockout</h2>
                <p class="pb-2 px-3">Le titre de Devolver et Mediatonic est une sorte de Battle-Royale, complètement
                    loufoque,
                    dans lequel les joueurs doivent s'affronter lors d'une multitude d'épreuves
                    . Lors de chaque épreuve, une partie des joueurs est éliminée jusqu'à ce qu'il n'en reste plus
                    qu'un.</p>
            </div>

        </div>
    </div>
</div>
<!-- Carde jeux du mois 08-2020 -->