{{!-- Container Filtres --}}
<div class="container">
    <div class="bg-bleu_transparent_ps pb-3 mb-5">

    {{> freetoplay/filtre_a }}

    {{> freetoplay/filtre_b }}

    </div>
</div>
{{!-- X Container Filtres --}}