{{!-- Free to play filtre A --}}
<button type="button" class=" mt-2 ml-2 btn btn-lg btn-light" disabled>Filtre A</button>

<div class="trait_admin"></div>

{{!-- Ligne 1 D-flex --}}
<div class="d-flex justify-content-around">

    {{!-- Carde Dauntless --}}
    <div class="mt-3 mb-3">
        <div class="card border-primary" style="width: 15rem;">
            <img src="assets/images/dauntless.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Dauntless</h5>
                <p class="card-text">Affrontez des monstres gigantesques
                    , forgez de puissantes armes, et fabriquez des armures à partir des bêtes vaincues.
                </p>
            </div>
        </div>
    </div>
    {{!-- X Carde Dauntless --}}

    {{!-- Carde Fortnite --}}
    <div class="mt-3 mb-3">
        <div class="card border-primary" style="width: 15rem;">
            <img src="assets/images/fortnite.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Fortnite</h5>
                <p class="card-text">Fortnite est le jeu multijoueur entièrement gratuit
                    ou vous vous affrontez pour être le dernier survivant.
                </p>
            </div>
        </div>
    </div>
    {{!-- X Carde Fortnite --}}

    {{!-- Carde Paladin --}}
    <div class="mt-3 mb-3">
        <div class="card border-primary" style="width: 15rem;">
            <img src="assets/images/paladin.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Paladin</h5>
                <p class="card-text"> FPS en équipe gratuit, basé dans un univers fantastique
                    , vous incarnez un Champion du Royaume qui manie les armes et la magie.
                </p>
            </div>
        </div>
    </div>
    {{!-- X Carde Paladin --}}

    {{!-- Carde Neverwinter --}}
    <div class="mt-3 mb-3">
        <div class="card border-primary" style="width: 15rem;">
            <img src="assets/images/neverw.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Neverwinter</h5>
                <p class="card-text">Neverwinter est un MMORPG d'action gratuit basé sur la célèbre franchise
                    de jeux de rôles fantasy Donjons et Dragons.

                </p>
            </div>
        </div>
    </div>
    {{!-- X Carde Neverwinter --}}

</div>
{{!-- X Ligne 1 D-flex --}}

{{!-- Ligne 2 D-flex --}}
<div class="d-flex justify-content-around">

    {{!-- Carde Apex --}}
    <div class="mt-3 mb-3">
        <div class="card border-primary" style="width: 15rem;">
            <img src="assets/images/ftp_apex.jpg" class="card-img-top" alt="...">
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Apex legends</h5>
                <p class="card-text">Dominez vos adversaires dans Apex Legends, un jeu de tir Battle Royale
                    Free-to-Play*
                    où des personnages légendaires aux capacités surpuissantes

                </p>
            </div>
        </div>
    </div>
    {{!-- X Carde Apex --}}

    {{!-- Carde Warframe --}}
    <div class="mt-3 mb-3">
        <div class="card border-primary" style="width: 15rem;">
            <img src="assets/images/warframe.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Warframe</h5>
                <p class="card-text">Ils s'appelaient les Tennos. Guerriers à l’arme blanche et à l'arme à feu –
                    maîtres de l'armure Warframe.
                    Ceux qui survécurent à la Vieille Guerre furent abandonnés.
                </p>
            </div>
        </div>
    </div>
    {{!-- X Carde Warframe --}}

    {{!-- Carde Brawlhalla --}}
    <div class="mt-3 mb-3">
        <div class="card border-primary" style="width: 15rem;">
            <img src="assets/images/brawlhalla.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Brawlhalla</h5>
                <p class="card-text">Brawlhalla est un jeu plate-forme de combat présentant à la fois une
                    compétition en ligne,
                    tout comme des modes un joueur et coopératif.
                </p>
            </div>
        </div>
    </div>
    {{!-- X Carde Brawlhalla --}}

    {{!-- Carde Smite --}}
    <div class="mt-3 mb-3">
        <div class="card border-primary" style="width: 15rem;">
            <img src="assets/images/smite.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Smite</h5>
                <p class="card-text">Entrez sur le champ de bataille des dieux. Rejoignez le MOBA d'action par
                    excellence ! Incarnez les légendes
                    de la mythologie entièrement gratuitement.
                </p>
            </div>
        </div>
    </div>
    {{!-- X Carde Smite --}}

</div>
{{!-- X Free to play filtre A --}}