{{!-- Free to play filtre A --}}

{{!-- Ligne 1 D-flex --}}
<ul id="myUL" class="list-unstyled row">
   

        {{!-- Carde Dauntless --}}
        <li class="my-3 col-xl-3 col-lg-4 col-md-6 text-center">
            <div class="card border-primary center-div" style="width: 15rem;">
                <img src="assets/images/dauntless.jpeg" class="card-img-top" alt="...">
                <div class="card-body text-white bg-primary">
                    <h5 class="card-title">Dauntless</h5>
                    <p class="card-text">Affrontez des monstres gigantesques
                        , forgez de puissantes armes, et fabriquez des armures à partir des bêtes vaincues.
                    </p>
                </div>
            </div>
        </li>
        {{!-- X Carde Dauntless --}}

        {{!-- Carde Fortnite --}}
        <li class="my-3 col-xl-3 col-lg-4 col-md-6 text-center">
            <div class="card border-primary center-div" style="width: 15rem;">
                <img src="assets/images/fortnite.jpeg" class="card-img-top" alt="...">
                <div class="card-body text-white bg-primary">
                    <h5 class="card-title">Fortnite</h5>
                    <p class="card-text">Fortnite est le jeu multijoueur entièrement gratuit
                        ou vous vous affrontez pour être le dernier survivant.
                    </p>
                </div>
            </div>
        </li>
        {{!-- X Carde Fortnite --}}

        {{!-- Carde Paladin --}}
        <li class="my-3 col-xl-3 col-lg-4 col-md-6 text-center">
            <div class="card border-primary center-div" style="width: 15rem;">
                <img src="assets/images/paladin.jpeg" class="card-img-top" alt="...">
                <div class="card-body text-white bg-primary">
                    <h5 class="card-title">Paladin</h5>
                    <p class="card-text"> FPS en équipe gratuit, basé dans un univers fantastique
                        , vous incarnez un Champion du Royaume qui manie les armes et la magie.
                    </p>
                </div>
            </div>
        </li>
        {{!-- X Carde Paladin --}}

        {{!-- Carde Neverwinter --}}
        <li class="my-3 col-xl-3 col-lg-4 col-md-6 text-center">
            <div class="card border-primary center-div" style="width: 15rem;">
                <img src="assets/images/neverw.jpeg" class="card-img-top" alt="...">
                <div class="card-body text-white bg-primary">
                    <h5 class="card-title">Neverwinter</h5>
                    <p class="card-text">Neverwinter est un MMORPG d'action gratuit basé sur la célèbre franchise
                        de jeux de rôles fantasy Donjons et Dragons.

                    </p>
                </div>
            </div>
        </li>
        {{!-- X Carde Neverwinter --}}
 

    {{!-- X Ligne 1 D-flex --}}

    {{!-- Ligne 2 D-flex --}}


        {{!-- Carde Apex --}}
        <li class="my-3 col-xl-3 col-lg-4 col-md-6 text-center">
            <div class="card border-primary center-div" style="width: 15rem;">
                <img src="assets/images/ftp_apex.jpg" class="card-img-top" alt="...">
                <div class="card-body text-white bg-primary">
                    <h5 class="card-title">Apex legends</h5>
                    <p class="card-text">Dominez vos adversaires dans Apex Legends, un jeu de tir Battle Royale
                        Free-to-Play*
                        où des personnages légendaires aux capacités surpuissantes

                    </p>
                </div>
            </div>
        </li>
        {{!-- X Carde Apex --}}

        {{!-- Carde Warframe --}}
        <li class="my-3 col-xl-3 col-lg-4 col-md-6 text-center">
            <div class="card border-primary center-div" style="width: 15rem;">
                <img src="assets/images/warframe.jpeg" class="card-img-top" alt="...">
                <div class="card-body text-white bg-primary">
                    <h5 class="card-title">Warframe</h5>
                    <p class="card-text">Ils s'appelaient les Tennos. Guerriers à l’arme blanche et à l'arme à feu –
                        maîtres de l'armure Warframe.
                        Ceux qui survécurent à la Vieille Guerre furent abandonnés.
                    </p>
                </div>
            </div>
        </li>
        {{!-- X Carde Warframe --}}

        {{!-- Carde Brawlhalla --}}
        <li class="my-3 col-xl-3 col-lg-4 col-md-6 text-center">
            <div class="card border-primary center-div" style="width: 15rem;">
                <img src="assets/images/brawlhalla.jpeg" class="card-img-top" alt="...">
                <div class="card-body text-white bg-primary">
                    <h5 class="card-title">Brawlhalla</h5>
                    <p class="card-text">Brawlhalla est un jeu plate-forme de combat présentant à la fois une
                        compétition en ligne,
                        tout comme des modes un joueur et coopératif.
                    </p>
                </div>
            </div>
        </li>
        {{!-- X Carde Brawlhalla --}}

        {{!-- Carde Smite --}}
        <li class="my-3 col-xl-3 col-lg-4 col-md-6 text-center">
            <div class="card border-primary center-div" style="width: 15rem;">
                <img src="assets/images/smite.jpeg" class="card-img-top" alt="...">
                <div class="card-body text-white bg-primary">
                    <h5 class="card-title">Smite</h5>
                    <p class="card-text">Entrez sur le champ de bataille des dieux. Rejoignez le MOBA d'action par
                        excellence ! Incarnez les légendes
                        de la mythologie entièrement gratuitement.
                    </p>
                </div>
            </div>
        </li>
        {{!-- X Carde Smite --}}
  

{{!-- X Free to play filtre A --}}