{{!-- Free to play filtre B --}}
<button type="button" class=" mt-2 ml-2 btn btn-lg btn-light" disabled>Filtre B</button>

<div class="trait_admin"></div>

{{!-- Ligne 1 D-flex --}}
<div class="d-flex justify-content-around">

    {{!-- Carde tera --}}
    <div class="mt-3 mb-3">
        <div class="card border-primary" style="width: 15rem;">
            <img src="assets/images/tera.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Tera</h5>
                <p class="card-text">TERA est une nouvelle sorte de jeu en ligne massivement multijoueur,
                    alliant un style de combat dynamique ultime au vaste monde virtuel.
                </p>
            </div>
        </div>
    </div>
    {{!-- X Carde tera --}}

    {{!-- Carde h1z1 --}}
    <div class="mt-3 mb-3">
        <div class="card border-primary" style="width: 15rem;">
            <img src="assets/images/h1z1.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">H1Z1</h5>
                <p class="card-text">H1Z1 est un jeu de tir en mode 'battle royale'
                    réimaginé et conçu pour la console. Parachutez-vous sur une carte immense à la recherche d'armes
                </p>
            </div>
        </div>
    </div>
    {{!-- X Carde h1z1 --}}

    {{!-- Carde realm royal --}}
    <div class="mt-3 mb-3">
        <div class="card border-primary" style="width: 15rem;">
            <img src="assets/images/realmroyale.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Realm royal</h5>
                <p class="card-text">Parviendrez-vous à vaincre jusqu'à 99 adversaires pour être couronné champion de
                    ce Battle Royale au style fantasy ?
                </p>
            </div>
        </div>
    </div>
    {{!-- X Carde realm royal --}}

    {{!-- Carde World of tank --}}
    <div class="mt-3 mb-3">
        <div class="card border-primary" style="width: 15rem;">
            <img src="assets/images/wots.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">World of tank</h5>
                <p class="card-text">Commande des chars et combattez vos adversaires dans des environnements
                     réalistes où précision et sang-froid sont de mise.
                </p>
            </div>
        </div>
    </div>
    {{!-- X Carde World of tank --}}

</div>
{{!-- X Ligne 1 D-flex --}}

{{!-- Ligne 2 D-flex --}}
<div class="d-flex justify-content-around">

    {{!-- Carde World of warships legends --}}
    <div class="mt-3 mb-3">
        <div class="card border-primary" style="width: 15rem;">
            <img src="assets/images/wowl.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">World of warships legends</h5>
                <p class="card-text">Livrez des batailles navales dans World of Warships: Legends, un jeu en
                     ligne multijoueur gratuit qui vous fera partir à la conquête des mers.
                </p>
            </div>
        </div>
    </div>
    {{!-- X Carde World of warships legends --}}

    {{!-- Carde Armored Warfare --}}
    <div class="mt-3 mb-3">
        <div class="card border-primary" style="width: 15rem;">
            <img src="assets/images/armorwarfare.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Armored Warfare</h5>
                <p class="card-text">Armored Warfare propose des batailles dynamiques à bord de véhicules de combat modernes :
                     une fraction de seconde suffit pour décider de la victoire ou de la défaite !
                </p>
            </div>
        </div>
    </div>
    {{!-- X Carde Armored Warfare --}}

    {{!-- Carde Games of Glory --}}
    <div class="mt-3 mb-3">
        <div class="card border-primary" style="width: 15rem;">
            <img src="assets/images/gamesofglory.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Games of Glory</h5>
                <p class="card-text">Combattez aux côtés de vos amis dans les arènes intergalactiques épiques de la Synarchie.
                     Hissez-vous au sommet en faisant preuve de stratégie
                </p>
            </div>
        </div>
    </div>
    {{!-- X Carde Games of Glory --}}

    {{!-- Carde Smite --}}
    <div class="mt-3 mb-3">
        <div class="" style="width: 15rem;">
            <img src="" class="" alt="">
            <div class="">
                <h5 class=""></h5>
                <p class="">
                </p>
            </div>
        </div>
    </div>
    {{!-- X Carde Smite --}}

</div>
{{!-- X Free to play filtre B --}}