<div class="container pt-5">
    <div class="text-center text-white bg-bleu_transparent_ps pb-3 mb-5">
        <h1 class="mb-3 pb-3 pt-2">Free To Play</h1>

        {{!-- Selection filtre --}}
        <div class="col-md-3 center-div">

            <select class="form-control" id="exampleFormControlSelect1">
                <option>Date de sortie</option>
                <option>Evaluation</option>
                <option>Genre</option>
                <option>Ordre alphabetique</option>
                <option>Taille</option>
            </select>
        </div>
        {{!-- X Selection filtre --}}

    </div>
</div>