<div class="container pt-5">
    <div class="text-center text-white bg-bleu_ps pb-3 mb-5">
        <h1 class="mb-3 pb-3 pt-2">Free To Play</h1>

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Filtrage
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Aventure</button>
                <button class="dropdown-item" type="button">RPG</button>
            </div>
        </div>
    </div>

</div>