{{!-- Collaps Acceuil --}}
<div class="container">
    <div class="accordion mt-5" id="accordionacceuil">
        <div class="card bg-gris_transparent_ps">
            <div class="card-header" id="headingacceuil">



                {{#if LoadArchive}}

                <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                     aria-expanded="true" aria-controls="collapseacceuil">
                    <div class="container text-center text-primary pt-2">
                        <h2>Acceuil</h2>
                    </div>
                </button>

                {{else}}

                <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseacceuil" aria-expanded="true" aria-controls="collapseacceuil">
                    <div class="container text-center text-primary pt-2">
                        <h2>Acceuil</h2>
                    </div>
                </button>

                {{/if}}





                <div class="trait_admin"></div>

                {{!-- class="collapse show"   pour afficher le collaps --}}

                <div id="collapseacceuil" class="collapse" aria-labelledby="headingacceuil"
                    data-parent="#accordionacceuil">
                    <div class="card-body text-center text-primary">

                        {{!-- Interrieur collaps acceuil --}}

                        <div class="container">
                            <div
                                class="col-md-8 text-white text-center bg-bleu_transparent_ps text-decoration-none m-2 center-div pt-3">
                                <div class="col-md-12">

                                    {{!-- Cadre modification caroussel acceuil--}}
                                    <div class="col-md-8 center-div border border-white rounded-lg mt-3">
                                        <h2 class="mt-2">Images caroussel</h2>
                                        <div class="d-flex justify-content-around">
                                            <div class="bg-white col-md-3"><img src="/assets/images/croix.png"
                                                    class="d-block w-100 h-100 taille_img_arch mt-1" alt=""></div>
                                            <div class="bg-white col-md-3"><img src="/assets/images/croix.png"
                                                    class="d-block w-100 h-100 taille_img_arch mt-1" alt=""></div>
                                            <div class="bg-white col-md-3"><img src="/assets/images/croix.png"
                                                    class="d-block w-100 h-100 taille_img_arch pt-1" alt=""></div>
                                        </div>
                                        <div class="col-md-12 center-div mb-2 mt-3">
                                            <button type="button" class="btn btn-primary m-2">Ajouter une image</button>
                                            <button type="button" class="btn btn-danger m-2">Supprimer une
                                                image</button>
                                        </div>
                                    </div>
                                    {{!-- Cadre modification carde caroussels acceuil--}}

                                    {{!-- Modification message d'acceuil --}}
                                    <div class="col-md-8 center-div border border-white rounded-lg mt-3">
                                        <h2 class="mt-2">Message d'acceuil</h2>



                                        {{#if titleNoExist}}

                                        <form action="/admin/acceuil" method="POST">

                                            <textarea type="text" class="p-2 m-2" name="mesAcceuil" cols="45" rows="4">
                                            </textarea>

                                    </div>

                                    {{!-- X Modification message d'acceuil --}}
                                    <div class="col-md-12 center-div mb-4 mt-4">
                                        <button type="submit" class="btn btn-success">Créé un titre</button>
                                    </div>

                                    </form>

                                    {{else}}

                                    <div class="col-md-8 center-div border border-white rounded-lg mt-1">
                                        <h5 class="my-1">{{messageAcceuil.mesAcceuil}}</h5>
                                    </div>


                                    <form action="/admin/acceuil/{{ messageAcceuil._id }}?_method=PUT" method="POST">

                                        <textarea type="text" class="p-2 m-2" name="mesAcceuil" cols="45"
                                            rows="4"></textarea>

                                </div>

                                {{!-- X Modification message d'acceuil --}}
                                <div class="col-md-12 center-div mb-4 mt-4">
                                    <button type="submit" class="btn btn-success">Modifier</button>
                                </div>

                                </form>

                                {{/if}}


                                {{!-- X Interrieur collaps acceuil --}}
                            </div>
                        </div>
                        <div class="trait_admin"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- X collaps acceuil --}}

</div>

</div>