{{!-- Collaps archives --}}
<div class="container">
    <div class="accordion mt-5" id="accordionarchives">
        <div class="card bg-gris_transparent_ps">
            <div class="card-header" id="headingarchives">
                <h2 class="mb-0">

                    {{#if LoadArchive}}

                    <button class="btn btn-block text-left" type="button" data-toggle="collapse" aria-expanded="true"
                        aria-controls="collapsearchives">
                        <div class="container text-center text-primary pt-2">
                            <h2>Archives</h2>
                        </div>
                    </button>

                </h2>
                <div class="trait_admin"></div>
            </div>

            <div id="collapsearchives" class="collapse show" aria-labelledby="headingarchives"
                data-parent="#accordionarchives">

                {{else}}

                <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapsearchives" aria-expanded="true" aria-controls="collapsearchives">
                    <div class="container text-center text-primary pt-2">
                        <h2>Archives</h2>
                    </div>
                </button>

                </h2>
                <div class="trait_admin"></div>
            </div>

            <div id="collapsearchives" class="collapse" aria-labelledby="headingarchives"
                data-parent="#accordionarchives">

                {{/if}}

                <div class="card-body text-center text-primary">

                    {{!-- Interieur collaps archives --}}
                    <div class="container">
                        <div
                            class="col-md-8 text-white text-center bg-bleu_transparent_ps text-decoration-none m-2 center-div pt-3">

                            {{#if LoadArchive}}

                            {{> admin/archive_update }}

                            <form method="get" action="/admin">
                                <button type="submit" class="btn btn-secondary mx-2">Annuler</button>
                            </form>

                            {{else}}

                            {{> admin/archive_creat }}

                            <button type="button" data-toggle="modal" data-target="#addArchivesModal"
                                class="btn btn-secondary mx-2">Charger l'archive</button>
                            <button type="button" class="btn btn-danger ml-5">Supprimer l'archive</button>

                            {{/if}}

                        </div>

                        {{> admin/listearchives}}

                    </div>
                    {{!-- X Interieur collaps archives --}}
                    <div class="trait_admin"></div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>