{{!-- Collaps archives --}}
<div class="container">
    <div class="accordion mt-5" id="accordionarchives">
        <div class="card bg-gris_transparent_ps">
            <div class="card-header" id="headingarchives">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapsearchives" aria-expanded="true" aria-controls="collapsearchives">
                        <div class="container text-center text-primary pt-2 pb-2">
                            <h2>Archives</h2>
                        </div>
                    </button>
                </h2>
                <div class="trait_admin"></div>
            </div>

            <div id="collapsearchives" class="collapse" aria-labelledby="headingarchives"
                data-parent="#accordionarchives">
                <div class="card-body text-center text-primary">

                    ...
                    <div class="trait_admin"></div>

                </div>
            </div>
        </div>
    </div>
</div>
{{!-- X collaps archives --}}