{{!-- Collaps archives --}}
<div class="container">
    <div class="accordion mt-5" id="accordionarchives">
        <div class="card bg-gris_transparent_ps">
            <div class="card-header" id="headingarchives">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapsearchives" aria-expanded="true" aria-controls="collapsearchives">
                        <div class="container text-center text-primary pt-2">
                            <h2>Archives</h2>
                        </div>
                    </button>
                </h2>
                <div class="trait_admin"></div>
            </div>

            <div id="collapsearchives" class="collapse" aria-labelledby="headingarchives"
                data-parent="#accordionarchives">
                <div class="card-body text-center text-primary">

                    {{!-- Interieur collaps archives --}}
                    <div class="container">
                        <div
                            class="col-md-8 text-white text-center bg-bleu_transparent_ps text-decoration-none m-2 center-div pt-3">
                            <div class="col-md-12">
                                <label for="exampleFormControlInput1">Date de l'archive :</label>
                                <div class="form-group d-inline-flex justify-content-center mb-2">
                                    <input type="text" class="form-control" id="exampleFormControlInput2"
                                        placeholder="Juillet 2020">
                                </div>
                            </div>
                            
                            {{!-- Cadre modification image archive --}}
                            <div class="col-md-6 center-div border border-white rounded-lg mt-3">
                                <h2 class="mt-2">Image de l'archive</h2>
                                <div class="col-md-6 center-div bg-white"><img src="assets/images/croix.png"
                                        class="d-block w-100 h-75 taille_img_arch mt-1" alt=""></div>
                                <form>
                                    <div class="form-group m-2">
                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                    </div>
                                </form>
                            </div>
                            {{!-- X Cadre modification image archive --}}

                            {{!-- Cadre modification carde archives --}}
                            <div class="col-md-8 center-div border border-white rounded-lg mt-3">
                                <h2 class="mt-2">Cardes archive</h2>

                                <div class="d-flex justify-content-around">
                                    <div class="bg-white col-md-3"><img src="assets/images/croix.png"
                                            class="d-block w-100 h-100 taille_img_arch mt-1" alt=""></div>

                                    <div class="bg-white col-md-3"><img src="assets/images/croix.png"
                                            class="d-block w-100 h-100 taille_img_arch mt-1" alt=""></div>

                                    <div class="bg-white col-md-3"><img src="assets/images/croix.png"
                                            class="d-block w-100 h-100 taille_img_arch pt-1" alt=""></div>
                                </div>

                                <div class="col-md-12 center-div mb-2 mt-3">
                                    <button type="button" class="btn btn-primary m-2">Ajouter une carde</button>
                                    <button type="button" class="btn btn-danger m-2">Supprimer une carde</button>
                                </div>

                            </div>
                            {{!-- Cadre modification carde archives --}}

                            <div class="col-md-12 center-div mb-4 mt-4">
                                <button type="button" class="btn btn-success">Modifier</button>
                            </div>

                        </div>
                        {{!-- X Interieur collaps archives --}}
                        <div class="trait_admin"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {{!-- X collaps archives --}}