{{!-- Collaps article_id --}}
<div class="container">
    <div class="accordion mt-5" id="accordionarticle_id">
        <div class="card bg-gris_transparent_ps">
            <div class="card-header" id="headingarticle_id">
                <h2 class="mb-0">

                    {{#if LoadArchive}}

                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                        aria-expanded="true" aria-controls="collapsearticle_id">
                        <div class="container text-center text-primary pt-2">
                            <h2>Article-id</h2>
                        </div>
                    </button>

                    {{else}}

                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapsearticle_id" aria-expanded="true" aria-controls="collapsearticle_id">
                        <div class="container text-center text-primary pt-2">
                            <h2>Article-id</h2>
                        </div>
                    </button>

                    {{/if}}

                </h2>
                <div class="trait_admin"></div>
            </div>

            <div id="collapsearticle_id" class="collapse show" aria-labelledby="headingarticle_id"
                data-parent="#accordionarticle_id">
                
                {{> admin/articleCreat }}

                {{> admin/articleUpdate }}


                <div class="trait_admin"></div>
            </div>
        </div>
    </div>
</div>
</div>
{{!-- X collaps article_id --}}