{{!-- Collaps article_id --}}
<div class="container">
    <div class="accordion mt-5" id="accordionarticle_id">
        <div class="card bg-gris_transparent_ps">
            <div class="card-header" id="headingarticle_id">
                <h2 class="mb-0">

                    {{#if LoadArchive}}

                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                        aria-expanded="true" aria-controls="collapsearticle_id">
                        <div class="container text-center text-primary pt-2">
                            <h2>Article-id</h2>
                        </div>
                    </button>

                    {{else}}

                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapsearticle_id" aria-expanded="true" aria-controls="collapsearticle_id">
                        <div class="container text-center text-primary pt-2">
                            <h2>Article-id</h2>
                        </div>
                    </button>

                    {{/if}}

                </h2>
                <div class="trait_admin"></div>
            </div>

            <div id="collapsearticle_id" class="collapse show" aria-labelledby="headingarticle_id"
                data-parent="#accordionarticle_id">
                <div class="card-body text-center text-primary">

                    {{!-- Interieur collaps article id --}}

                    <div class="container-fluid bg-bleu_transparent_ps">
                        <form action="/admin" method="POST" enctype="multipart/form-data">
                            {{! -- enctype pour pouvoir transferer des fichiers --}}
                            <div class="row">
                                <div class="col-md-3">

                                    {{!-- Modification image id --}}
                                    <div class="text-center border border-white rounded-lg mb-3 mt-2 text-white"
                                        style="max-width: 16rem;">
                                        <h4 class="mt-2">Image de l'archive</h4>
                                        <div class="col-md-6 center-div bg-white">
                                            <img src="/assets/images/croix.png" alt=""
                                                class="mt-2 mb-2 d-block w-100 h-75 taille_img_arch"></div>
                                        <div class="form-group m-2">
                                            <input type="file" class="form-control-file" id="imageCardAdmin"
                                                name="imageCard" required> {{!-- required oblige a mettre l'image --}}
                                        </div>
                                    </div>
                                    {{!-- Modification image id --}}

                                    {{!-- Modification PEGI id --}}
                                    <div class="mb-3 mt-2 border border-white rounded-lg text-white"
                                        style="max-width: 16rem;">

                                        <div class="card-header">
                                            <h4>Pegi</h4>
                                        </div>

                                        <div class="card-body text-center">
                                            <div class="col-md-6 center-div m-2">
                                                <label for="pegi">
                                                    <select class="form-control" id="pegi" name="pegi">
                                                        <option value="3">PEGI 3</option>
                                                        <option value="7">PEGI 7</option>
                                                        <option value="12">PEGI 12</option>
                                                        <option value="16">PEGI 16</option>
                                                        <option value="18">PEGI 18</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- X Modification PEGI id --}}

                                    {{!-- Modification details --}}
                                    <div class="border border-white rounded-lg text-white mb-3 mt-2"
                                        style="max-width: 16rem;">

                                        <div class="card-header">
                                            <h4>Details</h4>
                                        </div>
                                        <div class="card-body text-white">


                                            {{!-- modif details genre --}}
                                            <label for="exampleFormControlInput1">
                                                <h5 class="card-title">Genre</h5>
                                            </label>
                                            <div class="form-group d-inline-flex justify-content-center mb-3">
                                                <input type="text" class="form-control" id="exampleFormControlInput2"
                                                    placeholder="Genre du jeux" name="genre" required>
                                            </div>
                                            {{!-- X Modif details genre --}}

                                            {{!-- modif details editeur --}}
                                            <label for="exampleFormControlInput1">
                                                <h5 class="card-title">Editeur</h5>
                                            </label>
                                            <div class="form-group d-inline-flex justify-content-center mb-3">
                                                <input type="text" class="form-control" id="exampleFormControlInput2"
                                                    placeholder="Editeur du jeux" name="editeur" required>
                                            </div>
                                            {{!-- X Modif details editeur --}}

                                            {{!-- modif details date de sortie --}}
                                            <label for="exampleFormControlInput1">
                                                <h5 class="card-title">Date de sortie</h5>
                                            </label>
                                            <div class="form-group d-inline-flex justify-content-center mb-3">
                                                <input type="text" class="form-control" id="exampleFormControlInput2"
                                                    placeholder="Date de sortie du jeux" name="dateDeSortie" required>
                                            </div>
                                            {{!-- X Modif details date de sortie --}}

                                            {{!-- modif details editeur --}}
                                            <label for="exampleFormControlInput1">
                                                <h5 class="card-title">Taille</h5>
                                            </label>
                                            <div class="form-group d-inline-flex justify-content-center mb-3">
                                                <input type="text" class="form-control" id="exampleFormControlInput2"
                                                    placeholder="Taille du jeux" name="taille" required>
                                            </div>
                                            {{!-- X Modif details editeur --}}

                                        </div>
                                    </div>
                                    {{!-- X Modification details --}}

                                    {{!-- Modification evaluation --}}
                                    <div class="border border-white rounded-lg text-white mb-3 mt-2"
                                        style="max-width: 16rem;">
                                        <div class="card-header">
                                            <h4>Evaluation</h4>
                                        </div>
                                        <div class="card-body text-center">
                                            <div class="col-md-6 center-div m-2">
                                                <label for="note">
                                                    <select class="form-control" id="note" name="note">
                                                        <option value="1">1 étoile</option>
                                                        <option value="2">2 étoiles</option>
                                                        <option value="3">3 étoiles</option>
                                                        <option value="4">4 étoiles</option>
                                                        <option value="5">5 étoiles</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{!-- X Modification evaluation --}}

                                <div class="col-md-9 text-center text-white">

                                    {{!-- Modification titre du jeux --}}
                                    <label for="exampleFormControlInput1">
                                        <h2 class="card-title m-3">Titre du jeux: </h5>
                                    </label>
                                    <div class="form-group center-div">
                                        <input type="text" class="form-control" id="exampleFormControlInput2"
                                            placeholder="Titre du jeux" name="title" required>
                                    </div>
                                    {{!-- X Modification titre du jeux --}}

                                    {{!-- Cadre modification caroussel id admin --}}
                                    <div class="col-md-8 center-div border border-white rounded-lg mt-3">
                                        <h2 class="mt-2">Images caroussel</h2>
                                        <div class="d-flex justify-content-around">
                                            <div class="bg-white col-md-3"><img src="/assets/images/croix.png"
                                                    class="d-block w-100 h-100 taille_img_arch mt-1" alt=""></div>
                                            <div class="bg-white col-md-3"><img src="/assets/images/croix.png"
                                                    class="d-block w-100 h-100 taille_img_arch mt-1" alt=""></div>
                                            <div class="bg-white col-md-3"><img src="/assets/images/croix.png"
                                                    class="d-block w-100 h-100 taille_img_arch pt-1" alt=""></div>
                                        </div>
                                        <div class="col-md-12 center-div mb-2 mt-3">
                                            <input type="file" class="form-control-file" id="imagesCarouselIdadmin"
                                                name="imagesCarouselId" multiple>
                                            {{!-- required oblige a mettre l'image --}}
                                            <button type="button" class="btn btn-danger m-2">Supprimer une
                                                image</button>
                                        </div>
                                    </div>
                                    {{!-- Cadre modification carde caroussels id admin --}}

                                    {{!-- Cadre modification texte description article id --}}
                                    <div class="text-white mb-3 mt-4 border border-white rounded-lg"
                                        style="max-width: 108vh;">
                                        <div class="card-header">
                                            <h2>Description</h2>
                                        </div>
                                        <div class="card-body text-center">

                                            <textarea type="text" class="p-2" placeholder="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes                                          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes
                                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes penatibus et magnis dis parturient montes.
                                            " name="descriptionGen" id="" cols="60" rows="8"></textarea>
                                        </div>
                                    </div>
                                    {{!-- Cadre modification texte description article id --}}

                                    {{!-- Cadre modification texte description article id simplifier --}}
                                    <div class="text-white mb-3 mt-4 border border-white rounded-lg"
                                        style="max-width: 108vh;">
                                        <div class="card-header">
                                            <h2>Description simplifier</h2>
                                        </div>
                                        <div class="card-body text-center">

                                            <textarea type="text" class="p-2" placeholder="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
                                           
                                            " name="descriptionSimple" id="" cols="60" rows="4"></textarea>
                                        </div>
                                    </div>
                                    {{!-- Cadre modification texte description article id simplifier --}}

                                </div>
                            </div>
                            <div class="col-md-12 center-div mb-4 mt-4">
                                <button type="submit" class="btn btn-success mr-3">Crée l'article</button>
                        </form>


                       <button type="button" data-toggle="modal" data-target="#addArticlesModal"
                                class="btn btn-secondary mx-2">Charger l'article</button>

                        <button type="button" class="btn btn-danger ml-5">Supprimer</button>
                    </div>

                    {{> admin/listeArticles}}

                </div>
                {{!-- X Interieur collaps article id --}}

                <div class="trait_admin"></div>
            </div>
        </div>
    </div>
</div>
</div>
{{!-- X collaps article_id --}}