{{!-- Collaps contacts --}}
<div class="container">
    <div class="accordion mt-5" id="accordioncontacts">
        <div class="card bg-gris_transparent_ps">
            <div class="card-header" id="headingcontacts">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapsecontacts" aria-expanded="true" aria-controls="collapsecontacts">
                        <div class="container text-center text-primary pt-2 pb-2">
                            <h2>Contacts</h2>
                        </div>
                    </button>
                </h2>
                <div class="trait_admin"></div>
            </div>

            <div id="collapsecontacts" class="collapse" aria-labelledby="headingcontacts"
                data-parent="#accordioncontacts">
                <div class="card-body text-center text-primary">

                    ...

                    <div class="trait_admin"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- X collaps contacts --}}