{{!-- Collaps free_to_play --}}
<div class="container">
    <div class="accordion mt-5" id="accordionfree_to_play">
        <div class="card bg-gris_transparent_ps">
            <div class="card-header" id="headingfree_to_play">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapsefree_to_play" aria-expanded="true" aria-controls="collapsefree_to_play">
                        <div class="container text-center text-primary pt-2">
                            <h2>Free to play</h2>
                        </div>
                    </button>
                </h2>
                <div class="trait_admin"></div>
            </div>

            <div id="collapsefree_to_play" class="collapse" aria-labelledby="headingfree_to_play"
                data-parent="#accordionfree_to_play">
                <div class="card-body text-center text-primary">

                    {{!-- Interieur collaps free to play --}}
                    <div class="container">
                        <div class="col-md-5 text-white text-center bg-bleu_transparent_ps text-decoration-none m-2 center-div">
                            <div class="col-md-10 center-div border border-white rounded-lg mt-3">
                                <h2 class="mt-2">Filtre Free To Play</h2>
                                {{!-- Selection filtre --}}
                                <div class="col-md-6 center-div m-2">

                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Action</option>
                                        <option>Aventure</option>
                                        <option>Simulation</option>
                                        <option>Sport</option>
                                        <option>RPG</option>
                                    </select>
                                </div>
                                {{!-- X Selection filtre --}}

                                {{!-- Bouton ajouter supprimer filtre --}}
                                <div class="col-md-12 center-div mb-2">
                                    <button type="button" class="btn btn-primary m-2">Ajouter</button>
                                    <button type="button" class="btn btn-danger m-2">Supprimer</button>
                                </div>
                                {{!-- Bouton ajouter supprimer filtre --}}
                            </div>

                            {{!-- Ajouter supprimer carde archive --}}
                            <div class="col-md-10 center-div border border-white rounded-lg mt-3">
                                <h2 class="mt-2">Carde archive</h2>
                                <div class="col-md-12 center-div mb-2">
                                    <button type="button" class="btn btn-primary m-2">Ajouter</button>
                                    <button type="button" class="btn btn-danger m-2">Supprimer</button>
                                </div>
                            </div>
                            {{!-- X Ajouter supprimer carde archive --}}

                            <div class="col-md-12 center-div mb-4 mt-4">
                                <button type="button" class="btn btn-success">Modifier</button>
                            </div>

                        </div>
                    </div>
                    {{!-- Interieur collaps free to play --}}
                    <div class="trait_admin"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- X collaps free_to_play --}}