<script>
    var element = document.getElementById("myDIV");
    element.classList.remove("image_de_font_body");
    element.classList.add("img_bg_ps_bleu");
</script>

<body id="myDIV" class="img_bg_ps_bleu">

    <div class="container pt-5">
        <div class="text-center text-white border border-white bg-secondary">
            <h1 class="mb-2 pb-2 pt-2">ADMIN</h1>
        </div>
    </div>
