{{!-- Collaps jeux_du_mois --}}
<div class="container">
    <div class="accordion mt-5" id="accordionjeux_du_mois">
        <div class="card bg-gris_transparent_ps">
            <div class="card-header" id="headingjeux_du_mois">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapsejeux_du_mois" aria-expanded="true" aria-controls="collapsejeux_du_mois">
                        <div class="container text-center text-primary pt-2">
                            <h2>jeux du mois</h2>
                        </div>
                    </button>
                </h2>
                <div class="trait_admin"></div>
            </div>

            <div id="collapsejeux_du_mois" class="collapse" aria-labelledby="headingjeux_du_mois"
                data-parent="#accordionjeux_du_mois">
                <div class="card-body text-center text-primary">

                    {{!-- Interieur collaps jeux du mois --}}
                    <div class="container">

                        <div
                            class="col-md-8 text-white text-center bg-bleu_transparent_ps text-decoration-none m-2 center-div pt-3">
                            <div class="col-md-12">
                                <label for="exampleFormControlInput1">Date jeux du mois :</label>
                                <div class="form-group d-inline-flex justify-content-center mb-2">
                                    <input type="text" class="form-control" id="exampleFormControlInput2"
                                        placeholder="Juillet 2020">
                                </div>
                            </div>

                            <div class="col-md-8 center-div border border-white rounded-lg mt-3">
                                <h2 class="mt-2">Cardes jeux du mois</h2>

                                <div class="d-flex justify-content-around">
                                    <div class="bg-white col-md-3"><img src="assets/images/croix.png"
                                            class="d-block w-100 h-100 taille_img_arch mt-1" alt=""></div>

                                    <div class="bg-white col-md-3"><img src="assets/images/croix.png"
                                            class="d-block w-100 h-100 taille_img_arch mt-1" alt=""></div>

                                    <div class="bg-white col-md-3"><img src="assets/images/croix.png"
                                            class="d-block w-100 h-100 taille_img_arch pt-1" alt=""></div>
                                </div>

                                <div class="col-md-12 center-div mb-2 mt-3">
                                    <button type="button" class="btn btn-primary m-2">Ajouter une carde</button>
                                    <button type="button" class="btn btn-danger m-2">Supprimer une carde</button>
                                </div>

                            </div>

                            <div class="col-md-12 center-div mb-4 mt-4">
                                <button type="button" class="btn btn-success">Modifier</button>
                            </div>
                            {{!-- X Interieur collaps jeux du mois --}}

                        </div>
                    </div>




                    <div class="trait_admin"></div>

                </div>
            </div>
        </div>
    </div>
</div>
{{!-- X collaps jeux_du_mois --}}