{{!-- Collaps jeux_du_mois --}}
<div class="container">
    <div class="accordion mt-5" id="accordionjeux_du_mois">
        <div class="card bg-gris_transparent_ps">
            <div class="card-header" id="headingjeux_du_mois">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapsejeux_du_mois" aria-expanded="true" aria-controls="collapsejeux_du_mois">
                        <div class="container text-center text-primary pt-2 pb-2">
                            <h2>jeux du mois</h2>
                        </div>
                    </button>
                </h2>
                <div class="trait_admin"></div>
            </div>

            <div id="collapsejeux_du_mois" class="collapse" aria-labelledby="headingjeux_du_mois"
                data-parent="#accordionjeux_du_mois">
                <div class="card-body text-center text-primary">

                    ...

                    <div class="trait_admin"></div>

                </div>
            </div>
        </div>
    </div>
</div>
{{!-- X collaps jeux_du_mois --}}