<!-- Modal  Charger l'archive-->
<div class="modal fade" id="addArchivesModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="addArchivesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-primary">
                <h5 class="modal-title" id="addArchivesModalLabel">Charger l'archive</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-bleu_transparent_ps">

                <ul id="myUL" class="list-unstyled row">

                    {{#each cardeArchive}}
                    <div class="col-md-10  text-center center-div rounded-lg my-1">
                        <form action="/admin/loadArchive" method="post">
                            <input type="hidden" class="" name="id" value="{{ _id }}">
                            <button class="btn" type="submit">{{dateArchive}}</button>
                        </form>
                    </div>
                    {{/each}}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>

        </div>
    </div>
</div>
</div>

<!-- / Modal charger l'archive -->