{{!-- Collaps Messages --}}
<div class="container">
    <div class="accordion mt-5" id="accordionmessages">
        <div class="card bg-gris_transparent_ps">
            <div class="card-header" id="headingmessages">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapsemessages" aria-expanded="true" aria-controls="collapsemessages">
                        <div class="container text-center text-primary pt-2">
                            <h2>Messages</h2>

                        </div>
                    </button>
                </h2>
                <div class="trait_admin"></div>
            </div>

            <div id="collapsemessages" class="collapse" aria-labelledby="headingmessages"
                data-parent="#accordionmessages">
                <div class="card-body text-center text-primary">

                    ...

                    <div class="trait_admin"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- X collaps Messages --}}