{{!-- Collaps Messages --}}
<div class="container">
    <div class="accordion mt-5" id="accordionmessages">
        <div class="card bg-gris_transparent_ps">
            <div class="card-header" id="headingmessages">
                <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapsemessages" aria-expanded="true" aria-controls="collapsemessages">
                    <div class="container text-center text-primary pt-2">
                        <h2>Messages</h2>

                    </div>
                </button>
                <div class="trait_admin"></div>
            </div>
            <div id="collapsemessages" class="collapse" aria-labelledby="headingmessages"
                data-parent="#accordionmessages">
                <div class="card-body text-center text-primary">

                    {{!-- Interrieur collaps message --}}
                    <div class="container">
                        <div
                            class="col-md-8 text-center bg-bleu_transparent_ps text-decoration-none m-2 center-div p-3">
                            <div class="overflow-auto taille_fenetre_message_admin bg-gris_ps">

                                {{!-- Message 1 --}}
                                <div
                                    class="col-md-10 bg-white text-dark center-div rounded-lg taille_message_admin mt-2 pt-1">
                                    <div class="row">
                                        <div class="col-md-1 taille_img_message_admin">
                                            <i class="far fa-envelope ml-3"></i></div>
                                        <div class="text-muted col-md-2 mt-1">
                                            01.09.2020
                                        </div>
                                        <div class="col-md-8 mt-1 pr-5">
                                            message 1</div>
                                        <div class="col-md-1 taille_img_message_admin">
                                            <i class="fas fa-times mr-3"></i></div>
                                    </div>
                                </div>
                                {{!-- X Message 1 --}}

                                {{!-- Message 2 --}}
                                <div
                                    class="col-md-10 bg-white text-dark center-div rounded-lg taille_message_admin mt-2 pt-1">
                                    <div class="row">
                                        <div class="col-md-1 taille_img_message_admin">
                                            <i class="far fa-envelope ml-3"></i></div>
                                        <div class="text-muted col-md-2 mt-1">
                                            31.08.2020
                                        </div>
                                        <div class="col-md-8 mt-1 pr-5">
                                            message 2</div>
                                        <div class="col-md-1 taille_img_message_admin">
                                            <i class="fas fa-times mr-3"></i></div>
                                    </div>
                                </div>
                                {{!-- X Message 2 --}}

                                {{!-- Message 3 --}}
                                <div
                                    class="col-md-10 bg-white text-dark center-div rounded-lg taille_message_admin mt-2 pt-1 mb-2">
                                    <div class="row">
                                        <div class="col-md-1 taille_img_message_admin">
                                            <i class="far fa-envelope ml-3"></i></div>
                                        <div class="text-muted col-md-2 mt-1">
                                            27.08.2020
                                        </div>
                                        <div class="col-md-8 mt-1 pr-5">
                                            message 3</div>
                                        <div class="col-md-1 taille_img_message_admin">
                                            <i class="fas fa-times mr-3"></i></div>
                                    </div>
                                </div>
                                {{!-- X Message 3 --}}

                            </div>
                        </div>

                        <div class="demi_trait_admin"></div>

                        <div
                            class="col-md-8 text-center bg-bleu_transparent_ps text-decoration-none m-2 center-div p-3 mt-3">

                            {{!-- Message 1 lecture--}}
                            <div
                                class="col-md-10 bg-white text-dark center-div rounded-lg taille_message_admin mt-2 pt-1">
                                <div class="row">
                                    <div class="col-md-1 taille_img_message_admin">
                                        <i class="far fa-envelope ml-3"></i></div>
                                    <div class="text-muted col-md-2 mt-1">
                                        01.09.2020
                                    </div>
                                    <div class="col-md-8 mt-1 pr-5">
                                        message 1</div>
                                    <div class="col-md-1 taille_img_message_admin">
                                        <i class="fas fa-times mr-3"></i></div>
                                </div>
                            </div>
                            {{!-- X Message 1 lecture --}}

                            <div class="col-md-10 bg-white text-dark center-div rounded-lg mt-2 pt-1">

                                {{!-- Message Nom: --}}
                                <div
                                    class="col-md-8 form-group d-inline-flex justify-content-center align-items-center mb-2 mt-2">
                                    <label for="exampleFormControlInput1">Nom:</label>
                                    <input type="text" class="form-control border-primary ml-2"
                                        id="exampleFormControlInput2" placeholder="Pinpin dupins">
                                </div>
                                {{!-- X Message Nom: --}}

                                {{!-- Message Mail: --}}
                                <div
                                    class="col-md-8 form-group d-inline-flex justify-content-center align-items-center mb-4">
                                    <label for="exampleFormControlInput1">Mail:</label>
                                    <input type="email" class="form-control border-primary ml-2"
                                        id="exampleFormControlInput2" placeholder="Pinpin@dupins.com">
                                </div>
                                {{!-- X Message Mail: --}}

                                {{!-- Message Mail: --}}
                                <div
                                    class="col-md-8 form-group d-inline-flex justify-content-center align-items-center mb-2">
                                    <label for="exampleFormControlInput1">Sujet:</label>
                                    <input type="text" class="form-control border-primary ml-2"
                                        id="exampleFormControlInput2" placeholder="Pinpin">
                                </div>
                                {{!-- X Message Mail: --}}

                                {{!-- Message corp du mail --}}

                                <textarea type="text" class="p-2 border-primary rounded-lg mt-4"
                                    placeholder="Bienvenue sur mon site fan, j essaye de recence tout le contenue gratuis du playstation network et les jeux offert tout les mois au service playstation +."
                                    name="" id="" cols="50" rows="5"></textarea>
                                {{!-- X Message corp du mail --}}

                                {{!-- Boutons repondre supprimer --}}
                                <div class="col-md-12 center-div mb-3 mt-3">
                                    <button type="button" class="btn btn-primary m-2">Repondre</button>
                                    <button type="button" class="btn btn-danger m-2">Supprimer</button>
                                </div>
                                {{!-- X Boutons repondre supprimer --}}

                            </div>
                        </div>
                    </div>
                    {{!-- X Interrieur collaps message --}}

                    <div class="trait_admin"></div>

                </div>
            </div>
        </div>
    </div>
</div>
{{!-- X collaps Messages --}}