
/* Import Perso */
/* Import Perso */

// Body
body
    margin: 0
    padding: 0
// X Body

// Fond d'ecrant body
.image_de_font_body
    background-size: cover
    background-attachment: fixed
    size: 100vh
//  X Fond d'ecrant body

// Importation des couleurs
@import couleurs

// Couleurs
.gris_ps
    color: $gris_ps
// X Couleurs

// Body color
.bg-gris_ps
    background-color: $gris_ps

.bg-bleu_ps
    background-color: $bleu_ps
// X Body color


// Taille des images du carousel page acceuil    
.taille_img_carousel
    height: 70vh
// X Taille des images du carousel page acceuil


// Taille des images section jeux du mois
.taille_img_jdm
    height: 50vh
// X Taille des images section jeux du mois

// Epaisseur des bordures
.ep_bordure
    border-width: 20px!important
// X Epaisseur des bordures

// Taille des images section archive
.taille_img_arch
    height: 25vh
// X Taille des images section archive

// Taille des images home contact
.taille_img_contact
    height: 25vh
// X Taille des images home contact

// taille icone footer
.taille_img_footer
    height: 30px
// X taille icone footer

// footer
footer
    background-color: $noir_ps
    color: white
    height: 50px
// X footer

