
/* Import Perso */

// Body
body
    margin: 0
    padding: 0
// X Body

// IMAGES

// Fond d'ecrant body
.image_de_font_body
    background-size: cover
    background-attachment: fixed
    size: 100vh
    background-image: url(../images/playstation_gris_2.jpg)

.img_bg_ps_bleu
    background-size: cover
    background-attachment: fixed
    size: 100vh
    background-image: url(../images/playstation_mini.jpg)
//  X Fond d'ecrant body

// Fond baniere
.f_baniere
    background-size: cover
    background-attachment: fixed
    background-image: url(../images/playstation.jpg)

// Fond modal
.img_cookie_modal
    background-attachment: fixed
    background-image: url(../images/cookies.jpg)

// X IMAGES

// Centrer une div dans une div
.center-div
    display: inline-block
// X Centrer une div dans une div


// Importation des couleurs
@import couleurs

// ---------------- Couleurs ----------------------
.gris_ps
    color: $gris_ps

.bg-gris_ps
    background-color: $gris_ps

.bg-bleu_ps
    background-color: $bleu_ps

.bg-bleu_transparent_ps
    background-color: $bleu_transparent_ps

.bg-gris_transparent_ps
    background-color: $gris_transparent_ps
// X ------------- Couleurs ----------------------

// ------------------ Taille ---------------------

// Taille des images du carousel page acceuil    
.taille_img_carousel
    height: 70vh

// Taille des images carousel article ID
.taille_img_carousel_id
    height: 50vh

// Taille des images section jeux du mois home
.taille_img_jdm
    height: 40vh

// Taille carde jeux du mois
.taille_carde_jdm
    width: 30rem

// Taille des images section archive
.taille_img_arch
    height: 25vh

// Taille des images home contact
.taille_img_contact
    height: 20vh

// Taille de l'image article id
.taille_img_article_id
    height: 12vh

// Taille fenetre message admin
.taille_fenetre_message_admin
    height: 15vh

// taille icone footer
.taille_img_footer
    height: 30px

// Taille message admin
.taille_message_admin
    height: 40px

// Taille image message admin
.taille_img_message_admin
    font-size: 25px

// taille icones_m_admin
.icones_m_admin
    font-size: 25px
    color: $bleu_ps

// X ---------------- Taille ---------------------

// Trait admin
.trait_admin
    display: block
    height: 3px
    background-color: $bleu_ps
    width: 90%
    content: " "
    margin: 0 auto
    margin-top: 10px

// Demi trait admin
.demi_trait_admin
    display: block
    height: 3px
    background-color: $bleu_ps
    width: 60%
    content: " "
    margin: 0 auto
    margin-top: 10px

// lageur mini carousel article id
.lageur_mini_carousel
    width: 80vh

// lageur mini carousel jeux du mois
.largeur_mini_carousel_jdm
    width: 50vh

// footer
footer
    background-color: $noir_ps
    color: white
    height: 50px
// X footer

.baniere
    height: 300px

.baniere_taille_2
    height: 100px